$teal: #7CCECD;
$red: #ED3030;
$blue: #427BBF;
$font-family: 'Lato', sans-serif;

body {
  margin: 0;
  padding-bottom: 30px;
}

body, header, section, article {
    margin: 0;
}

body {
  margin-right: 10%;
  margin-left: 10%;
}

header {
  border-bottom: 3px solid $red;
  margin-bottom: 15px;
}

.logo {
  display: inline-block;
  img {
    float: left;
    margin-right: 2%;
  }
  p {
    padding: 50px;
  }
}

section {
  background-image: url("../images/murraymap.gif");
  border: 5px solid $blue;
  min-height: 650px;
  background-image: no-repeat;
  background-size: 100%;
}

article {
  width: 10%;
}

h3 {
  font-family: $font-family;
  font-size: 20px;
}

p {
  font-family: $font-family;
  font-size: 14px;
  color: $red;
}

.hide {
  display: none;
}
