body {
  margin: 0;
  padding-bottom: 30px; }

body, header, section, article {
  margin: 0; }

body {
  margin-right: 10%;
  margin-left: 10%; }

header {
  border-bottom: 3px solid #ED3030;
  margin-bottom: 15px; }

.logo {
  display: inline-block; }
  .logo img {
    float: left;
    margin-right: 2%; }
  .logo p {
    padding: 50px;
    font-size: 18px; }

section {
  background-image: url("../images/murraymap.gif");
  border: 5px solid #427BBF;
  min-height: 635px;
  background-image: no-repeat;
  background-size: 100%; }

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 20px; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #ED3030; }

.murrayicon h3, .murrayicon p {
  margin: 0; }

.fade-in, .slide-down {
  display: none; }

.icon {
  color: #ED3030;
  font-size: 40px;
  display: inline-block;
  margin: 0; }

.murrayicon div {
  display: inline-block; }

.icon {
  width: 30%; }

.empty0 {
  margin: 0;
  width: 40%;
  height: 57px; }

.empty1 {
  margin: 0;
  width: 20%;
  height: 57px; }

.empty {
  margin: 0;
  width: 30%;
  height: 57px; }

.fa-ticket {
  margin-left: 40%; }

.fa-building {
  margin-left: 5%; }

.fa-bus {
  margin-left: 20%; }

.fa-camera {
  margin-left: 35%; }

.fa-plane {
  margin-left: 50%; }

.fa-beer {
  margin-left: 65%; }

.fa-ship {
  margin-left: 50%; }

.fa-hospital-o {
  margin-left: 20%; }

.foundbill img {
  border-radius: 50px;
  border: 3px solid #ED3030; }
.foundbill h3 {
  margin: 0; }
