body {
  margin: 0;
  padding-bottom: 30px; }

body, header, section, article {
  margin: 0; }

body {
  margin-right: 10%;
  margin-left: 10%; }

.logo {
  border-bottom: 3px solid #ED3030;
  margin-bottom: 10px; }

section {
  background-image: url("../images/murraymap.gif");
  border: 5px solid #427BBF;
  min-height: 635px;
  background-image: no-repeat;
  background-size: 100%; }

.icon {
  color: #ED3030;
  width: 7%;
  font-size: 40px;
  display: inline-block; }
